* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* balance to add nav
resposive sticky class
*/
nav {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #0f172b;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.logo {
  width: 20vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: orange;
}
.logo .icon {
  padding: 10px;
  font-size: 30px;
}

.logo .uti {
  font-size: 40px;
}
.links {
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
}

/* nav links */

.links .link {
  text-transform: uppercase;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  li {
    list-style-type: none;
  }
}

.btn {
  width: 150px;
  height: 40px;
  border: none;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}

/* main */

main .content {
  background-image: url("/img/bg-hero.jpg");
  width: 100vw;
  height: 50vw;
  color: white;
  .content-cover {
    background-color: #0f172bd3;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text,
  .rot-logo {
    width: 45%;
    height: 70%;
    margin-right: 30px;
  }
  .content-cover {
    .text h2,
    p,
    button {
      margin-top: 50px;
      margin-left: 50px;
    }
    .text h2 {
      font-size: 60px;
      margin-top: 100px;
    }
    .text p {
      font-size: 18px;
    }
    .rot-logo img {
      width: 500px;
      height: 500px;
      margin-left: 50px;
      animation: rot 7s linear infinite;
      z-index: -1;
    }
  }
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* footer */
footer {
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #0f172b;
}
footer div {
  padding: 30px;
  width: 18%;
  height: 300px;
  margin: 30px;
}
.footer-div h2,
h1 {
  display: inline-block;
}
.footer-div *:not(h2):not(h1) {
  padding-top: 10px;
}

.company {
  padding: 20px;
  .li {
    list-style-type: "> ";
  }
}

.footer-div:nth-child(4) {
  width: 20%;
  /* background-color: black; */
  border: 2px solid black;
}
.footer-div:nth-child(4) #fs {
  background-color: white;
  width: 100%;
  height: 30%;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-around;
  .newip {
    width: 75%;
    border: none;
    padding-left: 20px;
  }
  #s {
    width: 25%;
  }
}

/* .footer-div:nth-child(4) #fs * {
  height: 100%;
} */
